/* Import Pretty Checkboxes*/
@import "https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css";
/* Import Varela Round from Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

/*Variables defined*/
:root {
  --main-color: coral;
  --text-color: #444;
  --formcolor: white;
  --button-color: hsl(356, 90%, 64%);
}



.front {
  
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: var(--text-color);
  font-family: 'Varela Round', sans-serif; 
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  position: "absolute";
  display: flex;
  flex-direction: column;
  align-items: center;
  

  .name{

    margin-top: 30px;
    font-size: 22px;
}






@media only screen and (max-width: 1315px) {

  .navbar{
      display: none;
  }

}
  form {

        
        display: block;
        border-radius: 12px;
        padding: 5vh 10vw;
        color: white;
        text-align: center;
        
        
        
            .title {
                padding: 10px 0px;
                padding-left: 5px;
                border-bottom: 4px solid;
                font-size: 3.1rem;
                margin-bottom: 15px;
                color: white;
            }

            .outer{

              display: flex;

            .array{
              width:50%;
              padding: 10px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              
              
              .logo{
                width: 150px;
                height: 150px;
                background-image: url('../assets/alpha3new.png');
                background-position: center;
                background-size: 100% 100%;

              }
              

              
              
              
              
            }
            .ips{

              
              
              .signup-field {
                
                padding: 10px;
                padding-left: 5px;
                text-align: left;
                color: black;


                input{
                  height: 38px;
                  width: 300px;

                  
                }

                .text{
                  align-items: left;
                  color: white;
                  font-size: 23px;
                }

            }

            
            
            .input-field {
                border: 0;
                width: 300px;
                border-radius: 5px;
                height: 45px;
                padding: 0.8rem 1.2rem;
                margin: 0.3rem 0;
                background-color: #f0f0f0;
                color: black;

                .op{
                    font-size: 40px;
                    color: black;
                    border-radius: 20px;
                }
            }
            
            label {
                display: block;
                font-size: 23px;
                margin-bottom: 8px;
                color: white;
            }

            
        }
      }
      

                input[type="submit"] {
                font-family: inherit;
                font-size: 1.3rem;
                font-weight: 600;
                margin-top: 1.2rem;
                padding: 0.8rem 1.2rem;
                border: 2px outset var(--button-color);
                border-radius: 10px;
                cursor: pointer;
                color: white;
                background-color: transparent;
                transition: all 0.2s ease-out;
            }

            input[type="submit"]:hover {
                cursor: pointer;
                background-color: var(--button-color, black);
                color: var(--formcolor);
                transition-duration: 0.4s;
            }
            
            
    }
}

@media only screen and (max-width: 1300px) {
  .wrapper{
    justify-content: space-evenly;
  }

      

     
}



