/* Import Pretty Checkboxes*/
@import "https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css";
/* Import Varela Round from Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

/*Variables defined*/
:root {
  --main-color: coral;
  --text-color: #444;
  --formcolor: white;
  --button-color: hsl(356, 90%, 64%);
}

.front{
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: var(--text-color);
  font-family: 'Varela Round', sans-serif; 
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  position: "absolute";
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;

  

  
.name{

    margin-top: 30px;
    font-size: 22px;
    
  }
      




    .list{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        position: relative;
        justify-content: space-between;
        height: 100vh;
        width: 100%;
        margin-top: 30px;
        

        
    
    .item{
      width: 500px;
      height: 300px;
      background-color: #170B3B;
      display: flex;
      
        
        

    }

}

}







a{
  text-decoration: none;
}



